.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.heroBgContainer {
  position: fixed;
  z-index: -1;
  display: flex;
  inset: 0;

  .heroBgImage {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: scale-down;
  }
}
.heroName {
  font-size: 40px;
  font-weight: bold;
}

.cosmeticContainer {
  display: flex;
  margin-top: 22px;
  gap: 6px;  

}
.cosmeticCategoryList {
  display: flex;
  flex-direction: column;
  gap: 6px;

}
.cosmeticCategoryItem {
  display: flex;
  overflow: hidden;
  align-items: center;
  align-self: flex-start;
  width: 350px;
  height: 50px;
  padding-left: 4px;
  border-radius: 4px;
  color: black;
  background-color: white;
  transition: 0.1s;
  font-weight: bold;
  text-decoration: none;
  gap: 12px;

  &:hover {
    z-index: 111111;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.6);
    scale: 1.1;
  }

  &.sideBarMode {
    width: initial;
  }
  .cosmeticImage {
    width: 50px;
    height: 50px;
    background-color: rgb(34, 145, 205);
  }
}


.cosmeticGrid {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 400px;
  height: 600px;
  padding: 6px;
  border-radius: 6px;
  background-color: rgb(31, 36, 49);
  gap: 6px;
  .cosmeticItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 125px;
    height: 145px;
    border-radius: 6px;
    color: white;
    background-color: rgba(255, 255, 255, 0.08);
    transition: 0.1s;
    text-decoration: none;
    gap: 12px;

    &:hover {
      z-index: 111111;
      box-shadow: 0 0 10px 1px rgb(0, 0, 0);
      scale: 1.1;
    }
    img {
      width: 70px;
      border-radius: 6px;
    }
    .itemInfo {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 4px;
    }
    .itemName {
      -webkit-background-clip: text !important;
      font-weight: bold;
      -webkit-text-fill-color: transparent;
    }
    .credits {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      img {
        width: 20px;
        object-fit: scale-down;
      }
    }
  }
}